<div class="hero" id="home">
	<div class="container">
		<div id="banner_1">
			<h1 class="titulo white"><span>Pavos</span> Gourmet</h1>
			<p class="white hidden-xs">Lorem ipsum dolor amet blue bottle affogato direct trade stumptown pork belly fam, scenester keffiyeh church-key.</p>

			<%= link_to new_contact_path do %>
			<button class="button button_primary">Más información</button>
			<% end %>
		</div>
	</div>
</div>



<div id="pavos">
	<div class="container">
	<h1 class="titulo white">¿Qué es <span>Pavos Gourmet</span>?</h1>
	<%= image_tag "bolitas_W.svg"%>
	<p class="white">Craft beer blue bottle viral readymade, hella brooklyn austin. Tbh truffaut listicle put a bird on it, street art plaid lyft marfa schlitz. Ugh vape schlitz hell of, disrupt try-hard gentrify polaroid direct trade chambray. Lo-fi man braid chartreuse celiac, hella synth scenester pork belly. </p>

	<div class="row">
		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "oval.png" %>
				<p class="white">Pavos sin hormonas</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "oval.png" %>
				<p class="white">100% Mexicano</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "oval.png" %>
				<p class="white">Pavos sin hormonas</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "oval.png" %>
				<p class="white">Pavos sin hormonas</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "oval.png" %>
				<p class="white">Pavos sin hormonas</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "oval.png" %>
				<p class="white">Pavos sin hormonas</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "oval.png" %>
				<p class="white">Pavos sin hormonas</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "oval.png" %>
				<p class="white">Pavos sin hormonas</p>
			</div>
		</div>
	</div>
	</div>
</div>



<div id="images">
	<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image01.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image02.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image03.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image01.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image01.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image01.jpg" %>
	</div>
</div>
</div>


<div id="productos">
	<div class="container">
		<h1 class="titulo">Nuestros <span>Productos y Servicios</span></h1>
	<%= image_tag "bolitas.svg"%>
	<p>Craft beer blue bottle viral readymade, hella brooklyn austin. Tbh truffaut listicle put a bird on it, street art plaid lyft marfa schlitz. Ugh vape schlitz hell of, disrupt try-hard gentrify polaroid direct trade chambray. Lo-fi man braid chartreuse celiac, hella synth scenester pork belly. </p>

<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= link_to root_path do %>
		<%= image_tag "oval.png" %>
		<p>Menú Saludable</p>
		<% end %>
	</div>

	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= link_to root_path do %>
		<%= image_tag "oval.png" %>
		<p>De temporada</p>
		<% end %>
	</div>

	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= link_to root_path do %>
		<%= image_tag "oval.png" %>
		<p>Postres Veganos</p>
		<% end %>
	</div>

	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= link_to root_path do %>
		<%= image_tag "oval.png" %>
		<p>De todos los días</p>
		<% end %>
	</div>

	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= link_to root_path do %>
		<%= image_tag "oval.png" %>
		<p>Eventos</p>
		<% end %>
	</div>

	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= link_to root_path do %>
		<%= image_tag "oval.png" %>
		<p>Menú Saludable</p>
		<% end %>
	</div>
</div>
</div>
</div>


<div id="images">
	<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image07.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image08.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image09.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image10.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image11.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image12.jpg" %>
	</div>
	</div>
</div>





