<div class="hero" id="home">
	<div class="container">
		<div id="banner_1">
			<h1 class="titulo white"><span>Pavos</span> Gourmet</h1>
			<p class="white hidden-xs">La mejor calidad en crianza, producción y distribución de pavos doble pechuga</p>

			<%= link_to new_contact_path do %>
			<button class="button button_primary">Más información</button>
			<% end %>
		</div>
	</div>
</div>



<div id="pavos">
	<div class="container">
	<h1 class="titulo white">¿Qué es <span>Pavos Gourmet</span>?</h1>
	<%= image_tag "bolitas_W.svg"%>
	<p class="white">Desde hace muchos años nos dedidicamos a criar, producir y distribuir los mejores pavos de doble pechuga de la mejor calidad, todo con la finalidad de entregar el mejor producto a tu mesa.</p>

	<div class="row">
		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "bn01.svg" %>
				<p class="white">Pavos sin hormonas</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "bn02.svg" %>
				<p class="white">100% Mexicano</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "bn03.svg" %>
				<p class="white">Bajo contenido de grasa</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "bn04.svg" %>
				<p class="white">Alto valor de proteínas</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "bn05.svg" %>
				<p class="white">Fuente de Zinc</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "bn06.svg" %>
				<p class="white">Alto contenido de hierro</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "bn07.svg" %>
				<p class="white">Alto valor vitamínico</p>
			</div>
		</div>

		<div class="col-md-3 col-xs-6">
			<div id="cuatro">
				<%= image_tag "bn08.svg" %>
				<p class="white">EL mejor sabor</p>
			</div>
		</div>
	</div>
	</div>
</div>



<div id="images">
	<div class="row">
		<div class="col-md-2">
			
		</div>
	<div class="col-md-2 col-sm-3 col-xs-4">
		<%= image_tag "image01.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image02.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4">
		<%= image_tag "image03.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4">
		<%= image_tag "image04.jpg" %>
	</div>
</div>
</div>


<div id="productos">
	<div class="container">
		<h1 class="titulo">Nuestros <span>Productos</span></h1>
	<%= image_tag "bolitas.svg"%>
	<p>Ya sea algo del día a día, un postre, productos para tus fiestas y reuniones, eventos especiales o banquetes, tenemos siempre el toque especial que hará que todos queden encantados. Te invitamos a conocer más sobre nuestros productos, estamos seguros que quedarás encantado.</p>

<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-6 col-md-offset-2">
		<%= link_to productos_saludables_menus_path do %>
		<%= image_tag "pavos_01.svg" %>
		<p>Menú Saludable</p>
		<% end %>
	</div>

	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= link_to productos_saludables_de_temporada_path do %>
		<%= image_tag "pavos_02.svg" %>
		<p>De temporada</p>
		<% end %>
	</div>

	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= link_to productos_saludables_postres_veganos_path do %>
		<%= image_tag "pavos_03.svg" %>
		<p>Postres Veganos</p>
		<% end %>
	</div>

	<div class="col-md-2 col-sm-3 col-xs-6">
		<%= link_to productos_saludables_todos_los_dias_path do %>
		<%= image_tag "pavos_04.svg" %>
		<p>De todos los días</p>
		<% end %>
	</div>
</div>
</div>
</div>


<div id="images">
	<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image07.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image08.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image09.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image10.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image11.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image12.jpg" %>
	</div>
	</div>
</div>





