<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :event_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion, id: :event_descripcion %>
  </div>

  <div class="field">
    <%= form.label :categoria %>
    <%= form.text_field :categoria, id: :event_categoria %>
  </div>

  <div class="field">
    <%= form.label :habilitado %>
    <%= form.check_box :habilitado, id: :event_habilitado %>
  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha, id: :event_fecha %>
  </div>

  <div class="field">
    <%= form.label :lugar %>
    <%= form.text_field :lugar, id: :event_lugar %>
  </div>

  <div class="field">
    <%= form.label :hora %>
    <%= form.text_field :hora, id: :event_hora %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :event_link %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
