<div class="hero" id="eventos">
  <div class="container">
    <div id="banner_1">
      <h1 class="titulo white"><span>Eventos</span> Gourmet</h1>
    </div>
  </div>
</div>

<div id="pavos">
  <div class="container">
    <h1 class="titulo white">Aprender... <span>Desgustar</span>?</h1>
    <%= image_tag "bolitas_W.svg"%>
    <p class="white">Lo más hermosa de saber, es compartir. Date el tiempo de conocer más sobre las mejores la crianza de pavos, los deliciosos platillos. Todo con la mejor música y la mejor compañía.</p>

  </div>
</div>

<% @events.each do |event| %>
<div class="container">
  <div id="eventos2">
    <div class="row">
      <div class="col-md-4">
        <div id="evento_izq">
          <%= image_tag event.image.heavy%>
        </div>
      </div>
      <div class="col-md-8">
        <div id="evento_der">
          <h2><%= event.nombre %></h2>
          <hr>
          <p><%= event.descripcion%></p>

          <h5><span class="fa fa-certificate"></span> Tipo de Evento: <%= event.categoria %></h5>
          <h5><span class="fa fa-calendar"></span> Fecha: <%= event.fecha %></h5>
          <h5><span class="fa fa-map-marker"></span>Lugar:  <%= event.lugar %></h5>
          <h5><span class="fa fa-clock"></span>Hora: <%= event.hora %></h5>
          <h5><span class="fa fa-link"></span> <%= event.link %></h5>
          <%= link_to events_path(:anchor => "footer") do %>
          <button class="button button_primary">Solicitar más información</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>



<br>
