<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @event.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @event.descripcion %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @event.categoria %>
</p>

<p>
  <strong>Habilitado:</strong>
  <%= @event.habilitado %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @event.fecha %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @event.lugar %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @event.hora %>
</p>

<p>
  <strong>Link:</strong>
  <%= @event.link %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
