<div class="hero" id="productos2">
  <div class="container">
    <div id="banner_1">
      <h1 class="titulo white"><span>Productos</span> Saludables</h1>
    </div>
  </div>
</div>


<div id="pavos">
  <div class="container">
    <h1 class="titulo white">100% mexicano... <span>100% Saludable</span>?</h1>
    <%= image_tag "bolitas_W.svg"%>
    <p class="white">Queremos compartir contigo los diferente y únicos sabores que te podemos ofrecer. Ya sea para una comida, tu almuerzo saludable o tan sólo un antojito. Atrévete a consentir tu paladar con nuestros productos 100% de pavo y 100% mexicanos.</p>

<ul>

	<li class="<%= 'activo3' if current_page?(productos_saludables_casa_gourmet_path) %>">
		<%= link_to "Casa Gourmet", productos_saludables_casa_gourmet_path %>
	</li>

	<li class="<%= 'activo3' if current_page?(productos_saludables_menus_path) %>">
		<%= link_to "Menus Saludables", productos_saludables_menus_path %>
	</li>

	<li class="<%= 'activo3' if current_page?(productos_saludables_de_temporada_path) %>">
		<%= link_to "De temporada", productos_saludables_de_temporada_path %>
	</li>

	<li class="<%= 'activo3' if current_page?(productos_saludables_postres_veganos_path) %>">
		<%= link_to "Postres Veganos", productos_saludables_postres_veganos_path %>
	</li>

	<li class="<%= 'activo3' if current_page?(productos_saludables_todos_los_dias_path) %>">
		<%= link_to "De todos los días", productos_saludables_todos_los_dias_path %>
	</li>


	<li class="<%= 'activo3' if current_page?(productos_saludables_bebidas_path) %>">
		<%= link_to "Bebidas", productos_saludables_bebidas_path %>
	</li>
</ul>

  </div>
</div>

<div class="container">
<div id="productos_show">
	<div class="row">
<% @products.each do |product| %>
		<div class="col-md-4 col-sm-6">
			<div id="productitis">
				<%= image_tag product.foto.heavy %>
				<h3><%= product.nombre %></h3>
				<p><%= product.descripcion%></p>
				<%= link_to product do %>
				<button class="button button_primary button_block">Más información</button>
				<% end %>
			</div>
		</div>
<% end %>
	</div>
</div>
</div>