<%= render 'welcome/bread' %>

<% @events.each do |event| %>
<div class="container">
  <div id="eventos2">
    <div class="row">
      <div class="col-md-4">
        <div id="evento_izq">
          <%= image_tag "evento1.png"%>
        </div>
      </div>
      <div class="col-md-8">
        <div id="evento_der">
          <h2><%= event.nombre %></h2>
          <hr>
          <p><%= event.descripcion%></p>

          <h5><span class="fa fa-certificate"></span> Tipo de Evento: <%= event.categoria %></h5>
          <h5><span class="fa fa-calendar"></span> Fecha: <%= event.fecha %></h5>
          <h5><span class="fa fa-map-marker"></span>Lugar:  <%= event.lugar %></h5>
          <h5><span class="fa fa-clock"></span>Hora: <%= event.hora %></h5>
          <h5><span class="fa fa-link"></span> <%= event.link %></h5>
          <%= link_to events_path(:anchor => "footer") do %>
          <button class="button button_primary"> Más información</button>
          <% end %>
          <br><br>
        <h5><%= link_to 'Editar', edit_event_path(event) %> || <%= link_to 'Eliminar', event, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>



<br>
