<div class="hero" id="nosotros">
	<div class="container">
		<div id="banner_1">
			<h1 class="titulo white"><span>¿Quiénes</span> Somos?</h1>
		</div>
	</div>
</div>


<div id="productos">
	<div class="container">
		<h1 class="titulo">Pavos <span>Gourmet</span></h1>
	<%= image_tag "bolitas.svg"%>
	<p>Gracias a la manera en que criamos los pavos en el Rancho el Retiro desde pequeños, somos capaces de entregar hasta tu mesa los mejores y más salubles productos. </p>
</div>
</div>

<div id="images">
	<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image20.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image23.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image21.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image24.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image22.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image25.jpg" %>
	</div>
</div>
</div>

<!-- listo -->


		<div id="lateral">
			<ul class="row">
				<li class="col-md-6" id="roll_izq">
					<h3 class="titulo"> <span>Come</span></h3>
					<%= image_tag "bolitas.svg" %>
					<p>Deliciosas opciones para ti y tu familia</p>
				</li>
				<li class="col-md-6" id="roll_der">
					<%= image_tag "cone1.png" %>
				</li>
			</ul>
		</div>

		<div id="lateral">
			<ul class="row">
				<li class="col-md-6 hidden-sm hidden-xs" id="roll_der">
					<%= image_tag "cone2.png" %>
				</li>
				<li class="col-md-6" id="roll_izq">
					<h3 class="titulo"> <span>Disfruta</span></h3>
					<%= image_tag "bolitas.svg" %>
					<p>Conociendo las mejores recetas para preparar tus platillos favoritos de pavo</p>
				</li>
				<li class="col-md-6 visible-sm visible-xs" id="roll_der">
					<%= image_tag "cone2.png" %>
				</li>
			</ul>
		</div>

		<div id="lateral">
			<ul class="row">
				<li class="col-md-6" id="roll_izq">
					<h3 class="titulo"> <span>Comparte</span></h3>
					<%= image_tag "bolitas.svg" %>
					<p>Corre la voz para que más gente conozca estas opciones saludables y 100% mexicanas</p>
				</li>
				<li class="col-md-6" id="roll_der">
					<%= image_tag "cone3.png" %>
				</li>
			</ul>
		</div>

<!-- tienda -->
<!-- <br><br><hr><br><br>
<div id="productos">
	<div class="container">
		<h1 class="titulo">Conoce nuestra <span>Tienda Gourmet</span></h1>
	<%#= image_tag "bolitas.svg"%>
	<p>Craft beer blue bottle viral readymade, hella brooklyn austin. Tbh truffaut listicle put a bird on it, street art plaid lyft marfa schlitz. Ugh vape schlitz hell of, disrupt try-hard gentrify polaroid direct trade chambray. Lo-fi man braid chartreuse celiac, hella synth scenester pork belly. </p>
</div>
</div>

<div id="images">
	<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%#= image_tag "image.png" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%#= image_tag "image2.png" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%#= image_tag "image3.png" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%#= image_tag "image4.png" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%#= image_tag "image3.png" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%#= image_tag "image2.png" %>
	</div>
</div>
</div> -->