<div class="hero" id="contacto">
	<div class="container">
		<div id="banner_1">
			<h1 class="titulo white"><span>Contáctanos</span></h1>
			<p class="white hidden-xs">Lorem ipsum dolor amet blue bottle affogato direct trade stumptown pork belly fam, scenester keffiyeh church-key.</p>
		</div>
	</div>
</div>

<div id="productos">
	<div class="container">
		<h1 class="titulo">Queremos <span>Escucharte</span></h1>
	<%= image_tag "bolitas.svg"%>
	<p>Craft beer blue bottle viral readymade, hella brooklyn austin. Tbh truffaut listicle put a bird on it, street art plaid lyft marfa schlitz. Ugh vape schlitz hell of, disrupt try-hard gentrify polaroid direct trade chambray. Lo-fi man braid chartreuse celiac, hella synth scenester pork belly. </p>
</div>
</div>


	<div id="contact4">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="formario">
				<h2>Contáctanos</h2>
				<div class="imgen">
				<%= image_tag "bolitas.svg" %>
				</div>
					<%= form_for @contact do |f| %>
					<div class="field">
						<%= f.label :nombre %><br>
						<%= f.text_field :name, required:true %>
					</div>

					<div class="row">
					<div class="col-md-6">
					<div class="field">
						<%= f.label :email %><br>
						<%= f.email_field :email, required:true %>
					</div>
					</div>

					<div class="col-md-6">
					<div class="field">
						<%= f.label :telefono %><br>
						<%= f.email_field :phone, required:true %>
					</div>
					</div>
					</div>


					<%= f.text_field :donde, :value => "#{params[:controller]} - #{request.original_url}", class: "hidden" %>

					<div class="field">
						<%= f.label :comentarios %><br>
						<%= f.text_area :comments %>
					</div>

					<div class="hidden">
						<%= f.label :nickname %><br>
						<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
					</div>

					<br>
					<div class="but">
						<%= f.submit "Enviar", class:"button button_primary button_center"%>
					</div>
					<br>
					<% end %>						

				</div>
			</div>
		</div>
	</div>


<div id="images">
	<div class="row">
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image.png" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image2.png" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image3.png" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image4.png" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-sm">
		<%= image_tag "image3.png" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image2.png" %>
	</div>
</div>
</div>