<div class="hero" id="contacto">
	<div class="container">
		<div id="banner_1">
			<h1 class="titulo white"><span>Contáctanos</span></h1>
			<p class="white hidden-xs">Con todo gusto escucharemos tus dudas, tus sugerencias y todas las preguntas que tengas.</p>
		</div>
	</div>
</div>

<div id="productos">
	<div class="container">
		<h1 class="titulo">Queremos <span>Escucharte</span></h1>
	<%= image_tag "bolitas.svg"%>
	<p>Date el tiempo de escribir tus comentarios y en el menor tiempo posible estaremos en contacto contigo para resolver todas tus dudas. Y por qué no, ofrecerte hasta la comodidad de tu casa u oficina los mejores productos de pavo de doble pechuga </p>
</div>
</div>


	<div id="contact4">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div id="formario">
				<h2>Contáctanos</h2>
				<div class="imgen">
				<%= image_tag "bolitas.svg" %>
				</div>
					<%= form_for @contact do |f| %>
					<div class="field">
						<%= f.label :nombre %><br>
						<%= f.text_field :name, required:true %>
					</div>

					<div class="row">
					<div class="col-md-6">
					<div class="field">
						<%= f.label :email %><br>
						<%= f.email_field :email, required:true %>
					</div>
					</div>

					<div class="col-md-6">
					<div class="field">
						<%= f.label :telefono %><br>
						<%= f.text_field :phone, required:true %>
					</div>
					</div>
					</div>


					<%= f.text_field :donde, :value => "#{params[:controller]} - #{request.original_url}", class: "hidden" %>

					<div class="field">
						<%= f.label :comentarios %><br>
						<%= f.text_area :comments %>
					</div>

					<div class="hidden">
						<%= f.label :nickname %><br>
						<%= f.text_field :nickname, hint: 'Esto se queda en blanco' %>
					</div>

					<br>
					<div class="but">
						<%= f.submit "Enviar", class:"button button_primary button_center"%>
					</div>
					<br>
					<% end %>						

				</div>
			</div>
		</div>
	</div>


<div id="images">
	<div class="row">
		<div class="col-md-2">
			
		</div>
	<div class="col-md-2 col-sm-3 col-xs-4">
		<%= image_tag "image30.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4 hidden-xs">
		<%= image_tag "image31.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4">
		<%= image_tag "image32.jpg" %>
	</div>
	<div class="col-md-2 col-sm-3 col-xs-4">
		<%= image_tag "image33.jpg" %>
	</div>
</div>
</div>