<%= render 'welcome/bread' %>



<div class="container">
<div id="productos_show">
  <div class="row">
<% @products.each do |product| %>
    <div class="col-md-3 col-sm-6">
      <div id="productitis">
        <%= image_tag product.foto.heavy %>
        <h3><%= product.nombre %></h3>
        <p><%= product.descripcion%></p>
        <p>Disponible: <%=product.disponible %></p>
        <%= link_to product do %>
        <button class="button button_primary button_block">Más información</button>
        <% end %>
          <br><br><br>
        <h5><%= link_to 'Editar', edit_product_path(product) %> || <%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' } %></h5>
      </div>
    </div>
<% end %>
  </div>
</div>
</div>