<div class="row">
<div class="col-md-6 col-md-offset-3">
<div id="formario">

<div class="img">
  <div class="owl-carousel">
  <%= image_tag @product.foto.heavy if @product.foto %>
  <%= image_tag @product.foto2.heavy if @product.foto2 %>
  <%= image_tag @product.foto3.heavy if @product.foto3 %>
  </div>
</div>

<div id="infor">

<h1 class="titulo2"><%= @product.nombre %></h1>
<hr>

<p>
  <%= @product.descripcion %>
</p>

<p>
  <span class="fas fa-thumbtack"> </span>
    <strong>  Categoria:</strong>
  <%= @product.categoria %>
</p>

<p>
  <span class="fas fa-credit-card"> </span>
    <strong>  Precio:</strong>
  <%= @product.precio %>
</p>

<p>
  <span class="fas fa-stopwatch"> </span>
    <strong>  Tiempo de entrega:</strong>
  <%= @product.tiempo %>
</p>

<p>
  <span class="fas fa-align-left"> </span>
    <strong>  Beneficios:</strong><br><br>
  <%= @product.beneficios %>
</p>

<p>
  <span class="fas fa-arrow-right"> </span>
    <strong>  Ingredientes:</strong><br><br>
  <%= @product.ingredientes %>
</p>


<% if user_signed_in? %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<% end %>
</div>
</div>
</div>
</div>


<script>
    $(".owl-carousel").owlCarousel(
  {
    items:1,
    autoHeight:true,
  });
</script>